
#home{
	background: url('/assets/images/yetistack-home-background.jpg');
	background-size:cover;
	color:$smoke;

	h1,h2,h3,h4,h5,h6,a,small{
		color: $smoke;
	}
	#content{
		background-color: rgba(0, 0, 0, 0.4);
		padding: 2rem 1rem;
	}

	#webnugget-link,#repo-link{
		display:block;
		margin: 1rem 0 0 1rem;
	}
	
}