#login,#signup,#reset-password,#forgot-password{
	background: url('/assets/images/yetistack-auth-background.jpg');
	background-size:cover;
	color:#f6f6f6;

	h1,h2,h3,h4,h5,h6,a,small,label{
		color: #f6f6f6;
	}
	#content{
		background-color: rgba(0, 0, 0, 0.4);
		padding: 2rem 1rem;
	}
}