---
name: home
url: /
---
<div class="grid-block vertical">
	<h1 class="grid-content shrink">Welcome to FAPP-Stack
	<br><small>Foundation for Apps powered Fullstack</small></h1>
	
	<div class="grid-block small-up-1 large-up-3 align-center">
		<div class="grid-content">
			<h2>Features</h2>
			<ul>
				<li>stateless authentication via JWT</li>
				<li>rolebased Authorization</li>
				<li>modular frontend and backend</li>
				<li>optional use of frontmatter</li>
				<li>signup for users</li>
				<li>forgot password function</li>
				<li>responsive emails with ZURB-INK and handlebars templates </li>
				<li>configurable for different enviroments with .env files</li>
				<li>fast and easy builtprocess with gulp</li>
				<li>automatic annotation of Angularcontrollers</li>
				<li>stylesheets compiled with  lightning fast gulp-sass</li>
				<li>livereload in development</li>
			</ul>
			
		</div>
		<div class="grid-content"><h2>Get Started</h2>
			<ol>
				<li><code>git clone https://github.com/webnugget/fapp-stack.git </code></li>
				<li><code>cd ./fapp-stack</code></li>
				<li><code>npm install</code></li>
				<li><code>bower install</code></li>
				<li><code>npm start</code></li>
				<li>open <a href="http://localhost:3000">http://localhost:3000</a> in your browser</li>
			</ol>
		</div>
		<div class="grid-content">
			<a href="https://github.com/webnugget/fapp-stack"><i class="fa fa-github fa-5x"></i><br><br>Github Repository</a>
			<br><br><br>
			<a href="http://www.webnugget.de"><img src="assets/images/webnugget.png" style="height: 69px;"><br><br>webnugget-Blog</a>
			
		</div>
		
	</div>
	
	
	
	
	
</div>