---
name: home
url: /
---
<h1>Welcome to FAPP-Stack</h1>
<p>FAPP-Stack is based on Foundation for Apps.</p>
<h2>Features</h2>
<ul>
	<li>authentication via JWT</li>
	<li>rolebased authorization</li>
	<li>modular AngularJS frontend</li>
	<li>restrict routes via ui-router config or frontmatter</li>
	<li>livereload in developmentmode</li>
</ul>

<h2>Installation</h2>
<ul>
	<li>clone this repository</li>
	<li>cd ./fapp-stack</li>
	<li>npm install</li>
	<li>bower install</li>
	<li>npm start</li>
	<li>open http://localhost:3000 in your browser</li>
</ul>