<div id="forgot-password" class="grid-block vertical medium-horizontal">
  <div class="grid-content">
    <h1>Forgot your Password?</h1>
  </div>
  <div class="grid-content" id="content">
    <p data-ng-show="!message">Just type in your username and we will send you a email to reset your password</p>
    <form role="form">
      <div data-ng-show="!message">
        <label for="email">Username</label>
        <input type="text" ng-model="user.username" id="username" placeholder="your username">
      </div>
          
      <div>{{message}}<br><br></div>
      <button data-ng-show="!message" type="submit" class="button medium" ng-click="forgotPassword(user)">Submit</button>
    </form>
    <a ui-sref="login()">Login</a>
    <br><br>
    <a ui-sref="signup()">Click here to Signup</a>
  </div>
</div>