<div class="grid-content">
  <h1>Login</h1>
  <form role="form">
    <div>
      <label for="username">Username</label>
      <input type="text" ng-model="user.username" id="username" placeholder="Username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" ng-model="user.password" placeholder="Password">
    </div>
    <div data-ng-if="message">{{message}}</div>
    <button type="submit" class="button medium" ng-click="login(user)">Submit</button>
  </form>
  <a ui-sref="signup()">Click here to Signup</a>
</div>