<div class="grid-block align-center">
	<div class="grid-content medium-4">
	  <h1>Reset your Password</h1>
	  <form role="form">
	    <div data-ng-if="!success">
	      <label for="password">Password</label>
	      <input type="password" ng-model="user.password" id="password" placeholder="new Password">
	    </div>
	    
	    <div data-ng-if="message">{{message}}<br><br></div>
	    <button type="submit" class="button medium" ng-click="resetPassword(user)">Submit</button>
	  </form>
	
	</div>
</div>