<div class="grid-content">
  <form role="form">
    <h1>Signup</h1>
    <div>
      <label for="username">Username</label>
      <input type="text"  id="username" ng-model="user.username" placeholder="Username">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password"  id="password" ng-model="user.password" placeholder="Password">
    </div>
    <div>
      <label for="extra">E-Mail</label>
      <input type="text"  id="email" ng-model="user.email" placeholder="E-Mailadress">
    </div>
    <div data-ng-if="message">{{message}}</div>
    <button type="submit" class="button medium" ng-click="createUser(user)">Submit</button>
  </form>
  <a ui-sref="login()">Click here to Login</a>
</div>